@font-face {
    font-family: 'ralewaythin';
    src: url('../assets/font/raleway/raleway-variablefont_wght-webfont.eot');
    src: url('../assets/font/raleway/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/font/raleway/raleway-variablefont_wght-webfont.woff2') format('woff2'), url('../assets/font/raleway/raleway-variablefont_wght-webfont.woff') format('woff'), url('../assets/font/raleway/raleway-variablefont_wght-webfont.ttf') format('truetype'), url('../assets/font/raleway/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #DCDBD9;
    color: #2C2C2C;
    font: normal 100% Cambria, Georgia, serif;
}

.container {
    border: thin dashed #1818;
}

.row {
    justify-content: space-around;
}

.row .main #static {
    position: static;
}

.row .main #relative {
    position: relative;
}

.row .main #absolute {
    position: absolute;
}

.row .main #fixed {
    position: fixed;
}

.row div {
    border: thin dashed blue;
}

.col {
    border: thin solid yellow;
}


/*
context : 16 px (default body)
police désiré : 24

24 / 16 = 1.5em
*/

h1 {
    font-size: 1.5em;
    /* 24px / 16px */
    font-style: italic;
    font-weight: normal;
}


/**/

h1 a {
    color: #747474;
    font: bold 0.4583333333333em Calibri, Optima, Arial, sans-serif;
    /* 11px / 24px */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
}

#page {
    border: 2px dashed #1818;
    width: 90%;
    margin: 36px auto;
    display: flex;
    flex-direction: column;
}

.blog {
    margin: 0 auto 53px;
    border: thin dashed greenyellow;
    width: 93.75%;
    /* 900px / 960px = 0.9375 */
}

.blog .main {
    border: thin dashed aliceblue;
    float: left;
    width: 62.8888889;
    /* 566 / 900 = 0.628888889 */
}

.blog .other {
    float: right;
    width: 36.77777778%;
    border: thin dashed olivedrab;
    /* 331 / 900 = 0.3677777778 */
}

.figure {
    float: left;
    margin-bottom: 0.5em;
    margin-left: 2.22222222%;
    width: 50%;
    /* 344 / 900 */
}

img {
    max-width: 100%;
}

.lede {
    border: thin dashed darkgrey;
}

.main ul li {
    font: 0.69em Roboto, Calibri, Optima, Arial, sans-serif;
    height: 100%;
}

.main ul li p {
    font: bold;
    margin-top: 5%;
}

.other h1 {
    font: 1.2em 'ralewaythin', calibri, Optima, Arial, sans-serif;
}