@font-face {
    font-family: 'raleway';
    src: url('../font/raleway/raleway-variablefont_wght-webfont.eot');
    src: url('../font/raleway/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway/raleway-variablefont_wght-webfont.woff2') format('woff2'), url('../font/raleway/raleway-variablefont_wght-webfont.woff') format('woff'), url('../font/raleway/raleway-variablefont_wght-webfont.ttf') format('truetype'), url('../font/raleway/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

#page {
    width: 93%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    display: flex;
    flex-direction: column;
}


/* -------------------------------- N A V                  */

nav {
    position: static;
    top: 0;
    height: 8em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav #navigation {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
}

nav #navigation a {
    flex: inherit;
    align-items: center;
    width: 50%;
    border-top: 3.5px solid #F2F2F2;
    background-color: inherit;
    text-align: center;
    text-decoration: none;
    color: #4F5255;
}

nav #registration {
    float: right;
    padding-right: 3.5%;
    display: flex;
    justify-content: flex-end;
}

nav #registration button {
    color: #4F94FC;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: grab;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    nav #navigation {
        float: left;
    }
}

@media screen and (max-width: 520px) {
    nav {
        padding-top: 12%;
        padding-bottom: 27%;
    }
    nav #navigation {
        width: 93%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 13%;
        margin-left: 0;
        float: none;
    }
    nav #navigation a {
        border-top: none;
        border-bottom: 3.5px solid #F2F2F2;
        padding-bottom: 5%
    }
}


/* -------------------------------- H E A D E R                 */

header {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: 8em;
    width: 100%;
    display: flex;
    margin-left: 1%;
    justify-content: space-between;
}

header #logo {
    float: left;
}

header #logo img {
    width: 100px;
}


/* -------------------------------- S E A R C H               */

.search {
    padding-left: 1%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-indication h1 {
    font: bold 1.3em 'raleway', Calibri, Optima, Arial, sans-serif;
}

.search-indication h2 {
    font: 1em 'raleway', Calibri, Optima, Arial, sans-serif;
}

.search .input-group {
    height: 50px;
    width: 390px;
}

.localise {
    width: 13.29%;
}

.localise span {
    display: flex;
    justify-content: center;
}

.search .input-group #localize {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    cursor: grab;
    transition: 0.3s;
}

.search .input-group #localize i {
    color: black;
}

.search .input-group input {
    height: 50px;
    width: 55.06329113924051%
}

.search .input-group #button-search {
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    border: none;
    outline: none;
    cursor: grab;
    transition: 0.3s;
}

.button-search {
    width: 31.6455%;
}

.button-search span {
    display: flex;
    justify-content: center;
}

.search .input-group #button-search .fa {
    color: #FFFFFF;
}

.search .input-group #button-search i {
    color: #FFFFFF;
}


/* -------------------------------- F I L T R E S               */

.filtres {
    margin: 1%;
    display: flex;
    align-items: center;
}

.filtres h3 {
    font: bold 0.9em 'raleway', Calibri, Optima, Arial, sans-serif;
    padding-left: 0;
    margin-left: 0;
    margin-right: 2%
}

.filtre {
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 15px;
    position: relative;
    margin-right: 1%;
    width: 220px;
}

.filtre i {
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    padding: 7%;
    position: static;
    z-index: 1;
    position: absolute;
    color: #0065FC;
}

.filtre b {
    position: absolute;
    margin-left: 30%;
    width: 220px;
}


/* -------------------------------- I N F O                    */

.info {
    align-items: center;
    align-items: center;
}

.info .detail {
    flex-direction: row;
    display: flex;
    /* alig-items ??*/
    align-items: center;
    justify-content: flex-start;
}

.info .detail i {
    display: flex;
    align-content: center;
    justify-content: center;
}

.info .detail .fa {
    color: #0065FC;
    width: 1.6em;
    border: thin solid #F2F2F2;
    border-radius: 50%;
    padding: 0.5%;
    position: static;
}

.info .detail p {
    font: 0.8em 'raleway', Calibri, Optima, Arial, sans-serif;
    margin-left: 1.7%;
    width: 50%;
}


/* -------------------------------- H O S T I N G S               */

#hostings {
    width: 100%;
    justify-content: left;
}

.hosting {
    /* 390 / 594 */
    background-color: #F2F2F2;
    background-color: #1818;
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
    margin: 0 auto;
    float: left;
    height: 674px;
}


/*
@media screen and (max-width: 992px) {
    .hosting {
        background-color: #1818;
    }
}

@media screen and (min-width: 1200px) {
    .hosting {
        background-color: #898918;
    }
}

.hosting h1 {
    padding-left: 2.34042553191489%;
    font: bold 1.7em 'raleway', Calibri, Optima, Arial, sans-serif;
}
*/

.hosting-figures {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hosting-figures .figure {
    margin-bottom: 0.5em;
}

.hosting-figures .figure .figure-image {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 126px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 3px #E5E5E5;
    border: 5px solid #FFFFFF;
}

.hosting-figures .figure img {
    display: block;
    align-self: center;
    width: 150%;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
}

.hosting-figures .figure .container {
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 2px #E5E5E5;
    font: bold 0.7em 'raleway', Calibri, Optima, Arial, sans-serif;
}

.hosting-figures .container p {
    padding-top: 5%;
}

.hosting-figures .figure .container .fa-star {
    color: #F2F2F2;
}

.hosting-figures .figure .container .checked {
    color: #0065FC;
}


/* -------------------------------- P O P U L A R                */

.popular {
    /* 185 / 594 */
    width: 31.14478114478114%;
    border: dashed thin aliceblue;
    padding-top: 3%;
    background-color: #F2F2F2;
    border-radius: 30px;
    float: right;
}

.popular h1 {
    padding-left: 9.46601941747573%;
    font: bold 1.7em 'raleway', Calibri, Optima, Arial, sans-serif;
}

#popular-figures .figure {
    width: 100%;
    margin-bottom: 0.5em;
}

#popular-figures .figure img {
    align-self: center;
    max-width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 3px #E5E5E5;
    border: 5px solid #FFFFFF;
}

#popular-figures .figure .container {
    padding-top: 3%;
    width: 300%;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 2px #E5E5E5;
    font: bold 0.7em 'raleway', Calibri, Optima, Arial, sans-serif;
}

#popular-figures .container p {
    padding-top: 5%;
}

#popular-figures .figure .container .fa-star {
    color: #F2F2F2;
}

#popular-figures .figure .container .checked {
    color: #0065FC;
}

#popular-figures {
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
}

#popular-figures .figure {
    display: flex;
}


/* -------------------------------- A C T I V I T I E S               */

#activities {
    padding-bottom: 10%;
    padding-top: 5%;
}

.activitie {
    height: 446px;
}

.activitie h1 {
    font: bold 1.7em 'raleway', Calibri, Optima, Arial, sans-serif;
}

#activitie-figures {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#activitie-figures .hight {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#activitie-figures .hight .figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
}

#activitie-figures .hight .figure .figure-image {
    align-self: baseline;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: #F2F2F2;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 1px #E5E5E5;
}

#activitie-figures .hight .figure .figure-image img {
    max-width: 280%;
    align-self: center;
    display: block;
    position: relative;
}

#activitie-figures .small {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#activitie-figures .small .figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
}

#activitie-figures .small .figure .figure-image {
    align-self: center;
    height: 60%;
    display: flex;
    align-content: stretch;
    flex-grow: initial;
    overflow: hidden;
    background-color: #F2F2F2;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 1px #E5E5E5;
}

#activitie-figures .small .figure .figure-image img {
    width: 200%;
    align-self: center;
    display: block;
    position: relative;
}

#activitie-figures .figure .container {
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 2px #E5E5E5;
    font: bold 0.7em 'raleway', Calibri, Optima, Arial, sans-serif;
}

#activitie-figures .figure .container p {
    padding-top: 5%;
}


/* -------------------------------- F O O T E R             */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

footer h1 {
    font: bold 0.8em 'raleway', Calibri, Optima, Arial, sans-serif;
    margin-left: 20%;
    margin-top: 10%;
}

.about {
    width: 33%;
    padding-right: 20%;
    border: thin dashed #1818;
}

.our-hostings {
    width: 33%;
    padding-right: 20%;
    border: thin dashed #1818;
}

.assistance {
    width: 33%;
    border: thin dashed #1818;
    padding-right: 20%;
}

footer ul {
    list-style-type: none;
    width: 100%;
    margin-left: 0%
}

footer ul li {
    font: 0.7em 'raleway', Calibri, Optima, Arial, sans-serif;
    margin-top: 10%;
    margin-bottom: 2%;
}