@font-face {
    font-family: "raleway";
    src: url(../font/Raleway-VariableFont_wght.ttf) format("truetype"), url("../font/Raleway-VariableFont_wght.ttf") format("eot");
}

#page {
    width: 80%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    display: flex;
    flex-direction: column;
}


/* -------------------------------- H E A D E R                 */

header {
    height: 4em;
    width: 100%;
    display: flex;
    margin-top: 2.8%;
    margin-bottom: 2.4%;
    margin-left: 1%;
    justify-content: space-between;
}

header #logo {
    float: left;
}

#logo img {
    width: 130px
}

header #navigation {
    float: right;
    width: 64.64%;
    display: flex;
    justify-content: right;
    margin-left: 30%;
}

header #registration {
    float: right;
    padding-right: 3.5%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

#navigation button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: grab;
    transition: 0.3s;
    padding-left: 15%;
}

#navigation button a {
    text-decoration: none;
}

#inscription {
    color: #4F94FC;
}

#registration button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: grab;
    transition: 0.3s;
}


/* -------------------------------- S E A R C H               */

#search {
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: none;
    outline: none;
    cursor: grab;
    transition: 0.3s;
}

.search {
    padding-left: 1%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#search .fa {
    color: #FFFFFF;
}

.search-indication h1 {
    font: bold 1.3em raleway, Calibri, Optima, Arial, sans-serif;
}

.search-indication h2 {
    font: 0.8em raleway, Calibri, Optima, Arial, sans-serif;
}

.input-group {
    width: 360px;
}

#localize {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    cursor: grab;
    transition: 0.3s;
}

#localize i {
    color: black;
}

#search i {
    color: #FFFFFF;
}


/* -------------------------------- F I L T R E S               */

.filtres {
    margin: 1%;
    display: flex;
    align-items: center;
}

.filtres h3 {
    font: bold 1.2em raleway, Calibri, Optima, Arial, sans-serif;
    padding-left: 0;
    margin-left: 0;
    margin-right: 2%
}

.filtre {
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    position: relative;
    margin-right: 1.5%;
    width: 220px;
}

.filtre i {
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 7%;
    position: static;
    z-index: 1;
    position: absolute;
}

.filtre b {
    position: absolute;
    margin-left: 30%;
    width: 220px;
}


/* -------------------------------- I N F O                    */

.info {
    align-items: center;
    align-items: center;
}

.info .details {
    display: flex;
    align-items: center;
}

.info .details i {
    border-radius: 50%;
    border: thin solid #F2F2F2;
    padding: 0.5%;
    position: static;
}

.info .details p {
    font: 0.8em raleway, Calibri, Optima, Arial, sans-serif;
    margin-left: 2%;
    width: 50%;
}


/* -------------------------------- H O S T I N G S               */

#hostings {
    /*594 / 640 */
    width: 100%;
}

.hosting {
    /* 390 / 594 */
    width: 65.65656565656566%;
    border: dashed thin aliceblue;
    float: left;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 3% 3% 3% 3%;
    margin: 0 auto;
}

.hosting h1 {
    padding-left: 2.34042553191489%;
    font: bold 1em raleway, Calibri, Optima, Arial, sans-serif;
}

#hosting-figures {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hosting-figures .figure {
    float: left;
    margin-bottom: 0.5em;
    /* 344 / 900 */
    width: 30.69230769230769%;
    /* 90 / 344 */
    height: 23.076923076923%;
}

#hosting-figures .figure img {
    max-width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 3px #E5E5E5;
    border: 5px solid #FFFFFF;
}

#hosting-figures .figure .container {
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 2px #E5E5E5;
    font: bold 0.7em raleway, Calibri, Optima, Arial, sans-serif;
}

#hosting-figures .container p {
    padding-top: 5%;
}

#hosting-figures .figure .container .fa-star {
    color: #F2F2F2;
}

#hosting-figures .figure .container .checked {
    color: #0065FC;
}


/* -------------------------------- P O P U L A R                */

#populars {
    /*594 / 640 */
    width: 100%;
}

.popular {
    /* 185 / 594 */
    width: 31.14478114478114%;
    border: dashed thin aliceblue;
    float: right;
    padding-top: 3%;
    padding: 3% 0.5% 0.5% 0.5%;
    background-color: #F2F2F2;
    border-radius: 30px;
}

.popular h1 {
    padding-left: 9.46601941747573%;
    font: bold 1em raleway, Calibri, Optima, Arial, sans-serif;
}

#popular-figures .figure {
    width: 100%;
    margin: 0 auto;
    float: left;
    margin-bottom: 0.5em;
}

#popular-figures .figure img {
    width: 300%;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 3px #E5E5E5;
    border: 5px solid #FFFFFF;
}

#popular-figures .figure .container {
    padding-top: 3%;
    width: 300%;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 2px #E5E5E5;
    font: bold 0.7em raleway, Calibri, Optima, Arial, sans-serif;
}

#popular-figures .container p {
    padding-top: 5%;
}

#popular-figures .figure .container .fa-star {
    color: #F2F2F2;
}

#popular-figures .figure .container .checked {
    color: #0065FC;
}

#popular-figures {
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
}

#popular-figures .figure {
    display: flex;
}


/* -------------------------------- A C T I V I T I E S               */

#activities {
    width: 93.125%;
    /* 596 / 640 */
    border: dashed thin aliceblue;
    float: left;
}

#activities .figure {
    float: left;
    margin-bottom: 0.5em;
    margin-left: 2.22222222%;
    width: 22.81879194630872%;
}

footer {
    background-color: #F2F2F2;
}